  body {
       background-image: url("assets/maverickswave.jpg");
			}
			.keepcentered {
			position : absolute;
			left : 50%;
			top : 50%;
			width : 480px;
			height : 300px;
			margin-left : -240px;
			margin-top : -150px;
			font-weight : 100;
			}
			body {
			font-family: 'Roboto', sans-serif;
			font-style : normal;
			color :#d64937;; // Change this to change the color of the colored font on the page
			margin : 5px;
			}
			td, tr {
			width: 20%;
			text-align: center;
			}
			a {
			font-weight: 100;
      color: #FFFFFF;
			}
      a:visited {
        color: #FFFFFF;
      }
			a:hover{
			color: #eee;
			}
			a:link {
			text-decoration : none;
			text-shadow: 0px 0px 0px #000;
			}
			.searchBar {
  width:300px;
  position:absolute;
  bottom:20px;
  left:50%;
  margin-left:-150px;
}
.searchBar input {
  width:100%;
  height:40px;
  padding-left:5px;
  padding-right:5px;
  box-sizing:border-box;
    border:1px solid #C6C6C6;
  border-bottom:3px solid #C6C6C6;
}
  </style>



<script type="text/javascript">//<![CDATA[
window.onload=function(){
}//]]>
